absl-py==1.2.0
aio-pika==8.3.0
aiofiles==23.1.0
aiogram==2.23.1
aiohttp==3.8.4
aiormq==6.6.4
aiosignal==1.3.1
alabaster==0.7.12
altair==4.1.0
altgraph==0.17
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
APScheduler==3.9.1.post1
argh==0.26.2
asgiref @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_cchykh5sgr/croots/recipe/asgiref_1661287542702/work
asn1crypto==1.3.0
astor==0.8.1
astroid @ file:///C:/ci/astroid_1592487315634/work
astropy==4.0.1.post1
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==19.3.0
Automat==20.2.0
autopep8 @ file:///tmp/build/80754af9/autopep8_1592412889138/work
Babel==2.9.1
backcall==0.2.0
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.shutil-get-terminal-size==1.0.0
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
backports.zoneinfo @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_29zz4uumbw/croots/recipe/backports.zoneinfo_1661287541232/work
base58==2.1.1
bcrypt==3.1.7
beautifulsoup4==4.9.1
bidict==0.22.1
bitarray @ file:///C:/ci/bitarray_1594751093906/work
bkcharts==0.2
bleach==3.1.5
blinker==1.4
bokeh @ file:///C:/ci/bokeh_1593178781838/work
boto==2.49.0
boto3==1.26.74
botocore==1.29.74
Bottleneck==1.3.2
brotlipy==0.7.0
CacheControl==0.12.11
cachetools==4.2.2
certifi==2022.9.24
cffi==1.14.0
chardet==3.0.4
charset-normalizer==3.0.1
chart-studio==1.1.0
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1594141588948/work
clyent==1.2.2
cmake==3.20.2
cmdstanpy==0.9.5
colorama==0.4.6
colorclass==2.2.2
coloredlogs==15.0.1
colorhash==1.2.1
comtypes==1.1.7
conda==4.12.0
conda-build==3.18.11
conda-package-handling @ file:///C:/b/abs_fcga8w0uem/croot/conda-package-handling_1672865024290/work
conda-package-streaming @ file:///C:/b/abs_0e5n5hdal3/croot/conda-package-streaming_1670508162902/work
conda-verify==3.4.2
confluent-kafka==1.9.2
constantly==15.1.0
contextlib2==0.6.0.post1
contourpy==1.0.7
convertdate @ file:///tmp/build/80754af9/convertdate_1634070773133/work
cryptography==38.0.1
cssselect==1.1.0
cycler==0.10.0
Cython @ file:///C:/ci/cython_1594829190914/work
cytoolz==0.10.1
dask==2022.10.2
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
distlib==0.3.4
distributed @ file:///C:/ci/distributed_1594742844291/work
Django @ file:///C:/Users/BUILDE~1/AppData/Local/Temp/abs_eeor5o9jj8/croots/recipe/django_1661292534510/work
django-cors-headers==3.10.0
django-widget-tweaks==1.4.9
djangorestframework==3.12.4
dnspython==1.16.0
docopt==0.6.2
docplex==2.20.204
docutils==0.15.2
entrypoints==0.3
env==0.1.0
ephem==4.1.3
et-xmlfile==1.0.1
exceptiongroup==1.0.0rc9
fastcache==1.1.0
fastjsonschema==2.16.3
fbmessenger==6.0.0
fbprophet @ file:///D:/bld/fbprophet_1599365958928/work
filelock==3.6.0
fire==0.5.0
fix-yahoo-finance==0.1.30
flake8==3.8.3
Flask==1.1.2
flatbuffers==1.12
fonttools==4.38.0
frozenlist==1.3.3
fsspec==0.7.4
future==0.18.2
gast==0.4.0
gevent @ file:///C:/ci/gevent_1593005471151/work
gitdb==4.0.9
GitPython==3.1.24
glob2==0.7
gmpy2==2.0.8
google==3.0.0
google-api-core==1.31.1
google-api-python-client==2.15.0
google-auth==1.30.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0
googleapis-common-protos==1.53.0
graphviz==0.20.1
greenlet==0.4.16
grpcio==1.34.1
gurobipy==9.5.2
h11==0.14.0
h5py==3.1.0
HeapDict==1.0.1
hijri-converter @ file:///tmp/build/80754af9/hijri-converter_1634064010501/work
holidays @ file:///C:/b/abs_cdvpc0j1c6/croot/holidays_1673991903700/work
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
httplib2==0.19.1
httptools==0.5.0
humanfriendly==10.0
hyperlink==21.0.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imagesize==1.2.0
imbalanced-learn==0.10.0
imblearn==0.0
importlib-metadata==6.1.0
imutils==0.5.4
incremental==21.3.0
intervaltree @ file:///tmp/build/80754af9/intervaltree_1594361675072/work
ipykernel==5.5.4
ipython @ file:///C:/ci/ipython_1593447482397/work
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==1.1.0
isort==4.3.21
itemadapter==0.7.0
itemloaders==1.0.6
itsdangerous==1.1.0
jdcal==1.4.1
jedi @ file:///C:/ci/jedi_1592833825077/work
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.2.0
json5==0.9.5
jsonpickle==2.2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.1.0
jupyter-contrib-core==0.4.2
jupyter-contrib-nbextensions==0.7.0
jupyter-core==4.7.1
jupyter-highlight-selected-word==0.2.0
jupyter-nbextensions-configurator==0.6.1
jupyterlab==2.1.5
jupyterlab-pygments==0.2.2
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
keras==2.8.0
Keras-Applications==1.0.8
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
keyring @ file:///C:/ci/keyring_1593109799227/work
kiwisolver==1.2.0
korean-lunar-calendar @ file:///tmp/build/80754af9/korean_lunar_calendar_1634063020401/work
lazy-object-proxy==1.4.3
libarchive-c==2.9
libclang==15.0.6.1
llvmlite==0.33.0+1.g022ab0f
locket==0.2.0
LunarCalendar @ file:///tmp/build/80754af9/lunarcalendar_1646383991234/work
lxml @ file:///C:/ci/lxml_1594822774489/work
magic-filter==1.0.9
Markdown==3.3.4
MarkupSafe==2.1.2
matplotlib==3.5.3
mattermostwrapper==2.2
mccabe==0.6.1
menuinst==1.4.16
mistune==2.0.5
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
more-itertools==8.4.0
mpmath==1.1.0
msgpack==1.0.0
mtcnn==0.1.0
multidict==5.2.0
multipledispatch==0.6.0
multitasking==0.0.10
navigator-updater==0.2.1
nbclient==0.7.2
nbconvert==7.2.10
nbformat==5.8.0
networkx @ file:///tmp/build/80754af9/networkx_1594377231366/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook==6.0.3
numba==0.50.1
numexpr==2.7.1
numpy==1.23.5
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
oauthlib==3.1.0
olefile==0.46
openai==0.27.1
opencv-python==4.5.2.52
openpyxl @ file:///tmp/build/80754af9/openpyxl_1594167385094/work
opt-einsum==3.3.0
ortools==9.4.1874
outcome==1.2.0
Owlready2==0.35
packaging==20.4
paho-mqtt==1.5.1
pamqp==3.2.1
pandas @ file:///C:/ci/pandas_1592833613419/work
pandocfilters==1.4.2
paramiko==2.7.1
parsel==1.6.0
parso==0.7.0
partd==1.1.0
path==13.1.0
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pdf2image==1.16.0
pefile==2021.5.24
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pkginfo==1.5.0.1
platformdirs==2.5.1
plotly==5.4.0
pluggy==1.0.0
ply==3.11
prometheus-client==0.8.0
prompt-toolkit==3.0.5
Protego==0.2.1
protobuf==3.19.6
psutil==5.7.0
psycopg2-binary==2.9.5
py @ file:///tmp/build/80754af9/py_1593446248552/work
py4j==0.10.9.5
pyarrow==6.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycurl==7.43.0.5
pydantic==1.10.2
pydeck==0.7.1
PyDispatcher==2.0.6
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1592848020240/work
pydot==1.4.2
pydotplus==2.0.2
pyflakes==2.2.0
pygame==2.2.0
Pygments==2.6.1
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyJWT==2.3.0
pykwalify==1.8.0
pylint @ file:///C:/ci/pylint_1592482039483/work
PyMeeus @ file:///tmp/build/80754af9/pymeeus_1634069098549/work
pymongo==3.10.1
Pympler==1.0
PyNaCl @ file:///C:/ci/pynacl_1595000047588/work
pyodbc===4.0.0-unsupported
pyOpenSSL==22.1.0
pyparsing==2.4.7
pypiwin32==223
PyQt5==5.15.4
pyqt5-plugins==5.15.4.2.2
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyqt5-tools==5.15.4.3.2
pyreadline==2.1
pyreadline3==3.4.1
pyrsistent==0.16.0
pyserial==3.5
PySocks==1.7.1
pyspark==3.3.2
pyspark-dist-explore==0.1.8
pystan==2.19.1.1
pytesseract==0.3.8
pytest==5.4.3
python-crfsuite==0.9.8
python-dateutil==2.8.1
python-decouple==3.7
python-dotenv==0.17.1
python-engineio==4.3.4
python-jsonrpc-server @ file:///tmp/build/80754af9/python-jsonrpc-server_1594397536060/work
python-language-server @ file:///C:/ci/python-language-server_1594162130238/work
python-socketio==5.7.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
pyvi==0.1.1
PyWavelets==1.1.1
pywin32==225
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.3.1
pyzmq==22.0.3
QDarkStyle==2.8.1
qt5-applications==5.15.2.2.2
qt5-tools==5.15.2.1.2
QtAwesome==0.7.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1592848611704/work
QtPy==1.9.0
questionary==1.10.0
queuelib==1.6.2
randomname==0.1.5
rasa==3.4.4
rasa-sdk==3.4.0
redis==4.5.1
regex @ file:///C:/ci/regex_1593419644658/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==0.10.1
retrying==1.3.3
rocketchat-API==1.28.1
rope==0.17.0
rsa==4.7.2
Rtree==0.9.4
ruamel-yaml==0.15.87
ruamel.yaml.clib==0.2.7
s3transfer==0.6.0
sanic==21.12.2
Sanic-Cors==2.0.1
sanic-jwt==1.8.0
sanic-routing==0.7.2
scikit-image==0.16.2
scikit-learn==1.1.3
scipy==1.6.3
Scrapy==2.6.3
seaborn==0.12.1
selenium==4.5.0
Send2Trash==1.5.0
sentry-sdk==1.11.1
serial==0.0.97
service-identity==21.1.0
setuptools-git==1.2
simplegeneric==0.8.1
singledispatch==3.4.0.3
sip==4.19.13
six==1.15.0
sklearn-crfsuite==0.3.6
slack-sdk==3.20.0
smart-open==6.2.0
smmap==5.0.0
sniffio==1.3.0
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1594223420021/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1593446360927/work
spyder @ file:///C:/ci/spyder_1594830825244/work
spyder-kernels @ file:///C:/ci/spyder-kernels_1594751670175/work
SQLAlchemy==1.4.46
sqlparse @ file:///C:/b/abs_83jn6owfpc/croot/sqlparse_1668793499314/work
statsmodels==0.11.1
streamlit==1.3.0
sympy @ file:///C:/ci/sympy_1594234545115/work
tables==3.6.1
tabulate==0.8.10
tarsafe==0.0.3
tblib==1.6.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.4
tensorflow-addons==0.17.1
tensorflow-estimator==2.8.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.30.0
termcolor==1.1.0
terminado==0.8.3
terminaltables==3.1.10
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
tinycss2==1.2.1
tldextract==3.3.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz==0.10.0
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1593446365756/work
traitlets==4.3.3
trio==0.22.0
trio-websocket==0.9.2
twilio==7.14.2
Twisted==22.8.0
twisted-iocpsupport==1.0.2
typeguard==2.13.3
typing-extensions==4.5.0
typing-utils==0.1.0
tzdata==2021.5
tzlocal==4.1
ujson==1.35
underthesea==1.3.4
underthesea-core==0.0.4a10
unicodecsv==0.14.1
Unidecode==1.3.4
uritemplate==3.0.1
urllib3==1.25.11
utils==1.0.1
validators==0.18.2
virtualenv==20.14.0
w3lib==2.0.1
watchdog @ file:///C:/ci/watchdog_1593447437088/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
webexteamssdk==1.6.1
websockets==10.4
Werkzeug==1.0.1
widgetsnbextension==3.5.1
win-inet-pton==1.1.0
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
wsproto==1.2.0
xgboost==1.5.0
xlrd==1.2.0
XlsxWriter==1.2.9
xlwings==0.19.5
xlwt==1.3.0
xmltodict @ file:///Users/ktietz/demo/mc3/conda-bld/xmltodict_1629301980723/work
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarl==1.8.2
yfinance==0.1.67
zict==2.0.0
zipp==3.1.0
zope.event==4.4
zope.interface==5.4.0
zstandard==0.18.0
