<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Record</title>
    <link rel="stylesheet" href= '/static/css/healthRecord.css'/>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>
  <body>
    <section class = "">
      <table id ="patients-table" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã số</th>
            <th scope="col">Họ tên</th>
            <th scope="col">Giới tính</th>
            <th scope="col">Ngày sinh</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">KCBBĐ</th>
            <th scope="col">Ngày bắt đầu</th>
            <th scope="col">Ngày kết thúc</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <button class = "btn-post-patient">POST</button>
    </section>
    <script src="/static/js/jquery-3.6.3.min.js"></script>
    <script src= "/static/js/healthRecord.js"></script>
  </body>
</html>